<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>目前剩余: {{ p_count }}</p>
        <form action="goods" method="post">
          <p>用户id: <input type="text" name="uid" size="35" /></p>
          <p>购买数量: <input type="text" name="count" size="35" /></p>
          <p>产品编号: <input type="text" name="pid" maxlength="18" size="18" /></p>
          <input type="submit" value="Submit" />
        </form>
    </div>

</body>
</html>